<html lang="">
<head>
    <title>Admin Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
<h1>Client Login Page</h1>

<script>
    function validateLogin() {
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;

        // Here, you can add your logic to check if the username or password is incorrect
        if (email !== "valid@email.com" || password !== "password123")
        {
            alert("Username or password is incorrect!");
            return false; // Prevent form submission
        }

        return true; // Allow form submission if credentials are correct
    }
</script>

<form th:action="@{/login_authentication}" method="GET" >
    <table>
        <tr>
            <td>UserName:</td>
            <td><input type="text" class="form-control" placeholder="password*" required /></td>
        </tr>

        <tr>
            <td>Admin Password:</td>
            <td><input type="text" class="form-control" placeholder="email address*" required /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="LOGIN"></td>
            <td><a th:href="@{/reset_password.html}">Forgot Password?</a></td>
        </tr>
    </table>
</form>
</body>
</html>
