.header{
    width: 100%;
    background-color: #563d7c; 
}

.heading{
    color: #FFF;
    padding: 15px 0;
}
.form-group
{

}
.container
{
    position: static;

}
.login-form
{

}
.form-container
{
    background-image: url("");
}
