<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Profile Page</title>

</head>
<style>
    body
    {
        margin-top:20px;
    }
    .avatar
    {
        width:200px;
        height:200px;
    }

    {
        display: flex;
        justify-content: center; /* Horizontally center */
        align-items: center; /* Vertically center */
        height: 100vh;
    }
</style>
<body>
<div class='dashboard'>
    <div class="dashboard-nav">

        <header><a href="" class="menu-toggle"><i class="fas fa-bars"></i></a><a href="#" class="brand-logo"><i
                class="fas fa-anchor"></i> <span>Snip&Style</span></a></header>

        <nav class="dashboard-nav-list"><a th:href="@{/home}" class="dashboard-nav-item"><i class="fas fa-home"></i>Home</a>
            <a th:href="@{/view_appointments}" class="dashboard-nav-item active"><i class="fas fa-list-alt"></i> View Appointments</a>
            <a th:href="@{/gallery}" class="dashboard-nav-item"><i class="fas fa-file-upload"></i> Gallery </a>
            <a th:href="@{/update_profile}" class="dashboard-nav-item"><i class="fas fa-user"></i>Update Profile </a>
            <div class="nav-item-divider"></div>
            <form th:action="@{/logout}">
                <a   class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Logout </a>
            </form>
        </nav>


    </div>
<div class="container">
    <h1 class="text-primary">Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload a different photo...</h6>

                <input type="file" class="form-control">
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
                This is an <strong>.alert</strong>. Use this to show important messages to the user.
            </div>
            <h3>Personal info</h3>

            <form th:action="@{/register}" th:object="${client}" method="POST" name="registrationForm" onsubmit="return validateForm()">
                <div class="row register-form">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control"   th:field="*{name}" placeholder="First Name *" required />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{surname}" placeholder="Last Name *" required />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" th:field="*{password}" placeholder="Password *" required />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control"  placeholder="Confirm Password *" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="email" class="form-control"  placeholder="Your Email *" required />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{phone}"  minlength="10" maxlength="10" placeholder="Your Phone *" required />
                        </div>

                        <input type="submit" class="btn btn-primary btn-lg" value="Register" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<hr>
</body>
</html>